project_id     = "replace-me"
region_a       = "canada-central1"
region_b       = "northamerica-northeast1"
cluster_a_name = "gke-config-a"
cluster_b_name = "gke-workload-b"

gateway_hostname      = "api.example.com"
cloudflare_hostname   = "api.example.com"
cloudflare_zone_name  = "example.com"
cloudflare_api_token  = "replace-me"
